body {
    padding:0;
    margin:0;
    
}


.botao {
    background-color: #d3a3e9 !important;
    border-color: #d3a3e9 !important;
}

.home-apresentacao {
    padding: 0 100px;
    font-size: 1.6rem;
    color: #a9a9a9;
    text-align: center;
    background-size: cover;

}

.home-apresentacao h3 {
    padding-bottom: 40px;
    padding-top: 40px;
}


.home-apresentacao h4 {
    padding-bottom: 80px;


}



.home-apresentacao hr {
    color: #890ec2;
    padding-bottom: 20px;
    
}



.home-frase{
    padding: 0 80px;
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d3a3e9;
    border-top: 2px solid #A263C0;


}

.home-img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30vw;
    height: 40vh;


}

.home-frase h4 {
    padding-top: 200px;
    color: #A263C0;


}

*, ::after, ::before {
    box-sizing: border-box;
    max-width: 100%;
}

