.footer{
    background: #A263C0;
    font-size: 12px;
       
}

.item {
    float: left;
  }

.item .link {
    font-size: 1.3em;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    
  }

.footer_principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
  
.footer_nav p{
    color: white;
    
}

.footer_redes-sociais {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.footer_redes-sociais img {
    width: 30.83px;


}

.footer_principal .footer_redes-sociais {
     justify-content: space-between
}


.footer_cc {
    background-color: #d3a3e9;
}


.footer_cc p{
    color:#A263C0;
    text-align: center;
    padding: 8px;

}

body, input, button, textarea{
    margin: 0;
    box-sizing: border-box;
  }
  