.header {
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color:#A263C0;
  background-size: cover;
  height: 400px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.subtitulo-h3 {
  padding-top: 10px;
  color: #dcc3e7;;
}

.header-text {
  margin-top: 80px;



}

.header-img img {
  max-height: 80%;
  margin-top: 30px;
}

.header-title {
  font-size: 60px !important ;
  font-weight: unset;
}


