.abertos {
    padding-top: 30px;
    color: #d3a3e9;
    font-size: 35px;

    
}

.form-submeter-botao {
    display: block;
    text-align: end;
    padding-bottom: 100px;
    padding-top: 20px;
    
}

.form-submeter {
    background-color: #d3a3e9 !important;
    border-color: #d3a3e9 !important;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    
}

.efeito:hover {
    transform: scale(1.1);
    transition: all 0.20s;
}
